Articles for training  - Emails (ground truth)
=========================


****

In [402]:
import os
import re
import json
import pprint
import datetime
import pandas as pd

pp = pprint.PrettyPrinter(indent=4)

In [403]:
data = []
with open('../articles_email.json') as input_file:
    for line in input_file:
        data.append(json.loads(line))

In [404]:
df = pd.DataFrame(data)

print("Number of articles downloaded: {:,}".format(df.shape[0]))

Number of articles downloaded: 4,209

In [421]:
print("Min date:", df[df['publish_date'].notna()]['publish_date'].min()[:10])
print("Max date:", df[df['publish_date'].notna()]['publish_date'].max()[:10])

Min date: 2016-02-04
Max date: 2018-04-16

### Duplicates and useless articles

In [389]:
df_dups = df.groupby('text').size().sort_values(0,ascending=False).reset_index().rename(columns={0:"count"})
df_dups.head(10)

                                                text  count
0                                                        70
1  How Can We Help?\n\nIf you'd like to learn mor...     35
2  Estas personas se consideran víctimas y no cóm...      5
3  Don't have an account yet?\n\nThe content of t...      4
4  Sucesión de mentirijillas en BBVA: Francisco G...      4
5  Consulte las citas más relevantes de la jornad...      4
6  El ministro de Economía aseguró que la resoluc...      3
7  Danièle Nouy, presidenta del Supervisor Único,...      3
8  El Royal Bank of Scotland (RBS) pagará 500 mil...      2
9  La tecnología blockchain se está convirtiendo ...      2

In [390]:
# text 1: How Can We Help?\n\nIf you'd like to learn mor...
print("Text 1:\n")
print(df_dups.loc[1]['text'],"...")

idx = df.index[df['text']==df_dups.loc[1]['text']]
df = df.drop(idx)

print("\n\nCurrent number of articles: {:,}".format(df.shape[0]))

Text 1:

How Can We Help?

If you'd like to learn more about Bernstein's insights and execution or how they can help advance your business, please contact us. ...


Current number of articles: 4,174

In [391]:
# text 3: Don't have an account yet?\n\nThe content of t...
idx = df.index[df['text']==df_dups.loc[3]['text']]
df = df.drop(idx)

print("Current number of articles: {:,}".format(df.shape[0]))

Current number of articles: 4,170

In [392]:
# removing empty text articles
df = df.drop(df[df['text']==''].index)
print("Current number of articles: {:,}".format(df.shape[0]))

Current number of articles: 4,100

In [393]:
# removing duplicates
df = df.drop_duplicates(subset='text', keep='first', inplace=False)
print("Current number of articles: {:,}".format(df.shape[0]))

Current number of articles: 4,024

In [394]:
# articles with very short text (useless)
for idx, row in df[df['text'].str.len()<150].iterrows():
    print(idx, "\t", repr(row['text']), "\n")

5 	 'Please enable JavaScript if it is disabled in your browser or access the information through the links provided below.'

75 	 'Consulte las citas más relevantes de la jornada actual y de las próximas. [Acceder]'

334 	 'No ha sido posible completar su consulta. Vuelva a intentarlo más tarde.'

343 	 'Estas personas se consideran víctimas y no cómplices de una situación en la que se encuentran más de 200.000 trabajadores.'

1836 	 'Agencia Estatal Boletín Oficial del Estado\n\nAvda. de Manoteras, 54 - 28050 Madrid - Tel .: (+34) 91 111 4000'

2047 	 '¿No estás registrado? Crea tu cuenta\n\nEntra en EL PAÍS\n\nEntra en EL PAÍS\n\nCerrar menú\n\nTamaño letra a- A+\n\nAlto contraste'

3110 	 'Sucesión de mentirijillas en BBVA: Francisco González pasa el testigo a FG'

### Creating new features

* section
* datepart
* day of week
* newspaper

In [395]:
# newspaper

df['newspaper'] = df['url'].apply(lambda x: re.findall('(?:\/\/www\.|\/\/)(\w+)\.\w',x))

for idx, row in df.iterrows():
    source = row['newspaper']
    try:
        df.loc[idx, 'newspaper'] = source[0]
    except:
        df.loc[idx, 'newspaper'] = ""

In [396]:
df_source = df.groupby('newspaper').size().sort_values(0, ascending=False).reset_index().rename(columns={0:"count"})
df_source.head(10)

        newspaper  count
0       expansion   2142
1       cincodias   1077
2  elconfidencial    709
3           blogs     29
4          retina     12
5  federalreserve      9
6        economia      6
7         euribor      3
8       bloomberg      3
9        criteria      2

In [398]:
# split the publish date to date and time and remove time because it is not changing
df['date'], df['time'] = df.publish_date.str.split(' ').str
df.drop(['time'], axis=1, inplace=True)

In [399]:
# convert date columns to datetime and create day_of_week column
df['date'] = pd.to_datetime(df['date'])
df['day_of_week'] = df['date'].dt.weekday_name
df.head(5)

,authors,keywords,publish_date,summary,text,title,top_image,url,newspaper,date,day_of_week
3,[],"[se, por, la, el, y, los, las, nota, sobre, de...",2016-03-01 21:27:34+00:00,"Primero la situación económica de China, despu...",Desde que empezó el año hemos tenido ya 3 fact...,Nota sobre la situación de los bancos,http://www.robust.fondos.gvcgaesco.es/wp-conte...,http://www.robustglobal.com/nota-sobre-la-situ...,robustglobal,2016-03-01,Tuesday
4,[],"[statements, minutes, meetings, calendars, foi...",None,"Meeting calendars, statements, and minutes (20...","Meeting calendars, statements, and minutes (20...",Meeting calendars and information,,http://www.federalreserve.gov/monetarypolicy/f...,federalreserve,NaT,NaN
5,[],"[access, provided, javascript, fed, informatio...",None,Please enable JavaScript if it is disabled in ...,Please enable JavaScript if it is disabled in ...,The Fed,,http://www.federalreserve.gov/mediacenter/medi...,federalreserve,NaT,NaN
6,[],"[federal, labor, reserve, funds, fomc, market,...",None,"A range of recent indicators, including strong...",Information received since the Federal Open Ma...,Federal Reserve issues FOMC statement,,https://www.federalreserve.gov/newsevents/pres...,federalreserve,NaT,NaN
7,"[Asunción Infante Fuentes, Andrés Stumpf Guirao]","[vuelve, se, estas, la, son, y, tumbar, los, l...",2016-03-17 00:00:00,"El Ibex cede un 1,18% y pierde el soporte clav...",Amaneció con subidas en todos los grandes parq...,El sector bancario vuelve a tumbar al Ibex: es...,https://d500.epimg.net/cincodias/iconos/v2.x/v...,http://cincodias.com/cincodias/2016/03/17/merc...,cincodias,2016-03-17,Thursday

In [400]:
# drop unnecessary columns
df.drop(['top_image', 'publish_date'], axis=1, inplace=True)

In [401]:
df.columns

Index(['authors', 'keywords', 'summary', 'text', 'title', 'url', 'newspaper',
       'date', 'day_of_week'],
      dtype='object')

---

# Articles for training - Historical data

Checking the newspaper output for all urls scraped from the different source to build the training dataset. The scraped newspapers are (run every 8 days between 2016/04/01 and 2018/04/01):

1. Expansion
2. Cincodias
3. El Confidencial

__Considerations__

* Articles with __no text__.
* Note that some of these __articles may be included in the emails__ sent over these years.
* Currenty working with articles __published on mondays__ regardless of the source.
* Handle errors/exceptions in the download method of the newspaper.

---

## 1. Expansion

In [303]:
# article content downloaded and parsed with newspaper3k
data = []
with open('../articles_expansion_hemeroteca.json') as input_file:
    for line in input_file:
        data.append(json.loads(line))

In [304]:
df = pd.DataFrame(data)

In [305]:
print("Number of articles downloaded: {:,}".format(df.shape[0]))

Number of articles downloaded: 9,986

### Duplicates and useless articles

In [306]:
df_dups = df.groupby('text').size().sort_values(0,ascending=False).reset_index().rename(columns={0:"count"})
df_dups.head(5)

                                                text  count
0  Para comentar o valorar, por favor inicie sesi...     87
1  Para comentar o valorar, por favor inicie sesi...     58
2                                                        46
3  ¿Televisión de pago en España a precios low co...      2
4  En plena era tecnológica, donde podemos relaci...      2

We can see that there are articles with useless text and articles with no text at all. We will get rid of all these invalid articles.

In [307]:
# text 0: Para comentar o valorar, por favor inicie sesi...
idx = df.index[df['text']==df_dups.loc[0]['text']]
df = df.drop(idx)

# text 1: Para comentar o valorar, por favor inicie sesi...
idx = df.index[df['text']==df_dups.loc[1]['text']]
df = df.drop(idx)

# text 2: (empty text)
idx = df.index[df['text']==df_dups.loc[2]['text']]
df = df.drop(idx)

print("Current number of articles: {:,}".format(df.shape[0]))

Current number of articles: 9,795

In [308]:
df_dups = df.groupby('text').size().sort_values(0,ascending=False).reset_index().rename(columns={0:"count"})
print("Number of articles duplicated twice: {:,}".format(df_dups[df_dups['count']==2]['text'].count()))

Number of articles duplicated twice: 23

In [309]:
# removing duplicates
df = df.drop_duplicates(subset='text', keep='first', inplace=False)

In [310]:
print("Current number of articles: {:,}".format(df.shape[0]))

Current number of articles: 9,772

In [311]:
df_dups = df.groupby('text').size().sort_values(0,ascending=False).reset_index().rename(columns={0:"count"})
df_dups.head(5)

                                                text  count
0  Único coche del mundo con tres trenes de poten...      1
1  El plan del Gobierno británico permitirá al se...      1
2  El plazo de amortización es inferior a un año,...      1
3  El plazo de aceptación se extenderá desde maña...      1
4  El plazo de aceptación de la opa que Carlos Sl...      1

There are no more text duplicates at this point. However, there are useless articles such as ...

In [312]:
# articles with very short text (useless)
for idx, row in df[df['text'].str.len()<150].iterrows():
    print(idx, "\t", repr(row['text']), "\n")

904 	 'Este fin de semana con EXPANSIÓN, conozca los fondos más recomendados por los expertos.'

1166 	 'El presidente del Gobierno en funciones y candidato a la reelección por el Partido Popular, Mariano RajoyJuanJo MartínEFE'

1722 	 'La tregua alcanza a las bolsas europeas, y a sus divisas. El Ibex sale de mínimos de tres años con el rebote de la banca y de IAG.'

2464 	 'La comisaria de Competencia de la UE, Margrethe Vestager.Foto: Efe'

2701 	 '¡Empieza el partido! ¿Quién de estos pilotos de la Scuderia Ferrari será tan bueno jugando voleibol como lo es en la pista?\n\nRemitido'

3543 	 'El fabricante ha presentado en el Salón de Pekín de China una solución de movilidad para los grandes atascos que combina el coche y el patinete.'

3677 	 'Francisco R. Checa y Susana Pérez analizan las claves bursátiles del día y adelantan las previsiones del viernes.'

5106 	 'Esta encuesta está cerrada y no se puede votar en ella.'

5479 	 'Galería Tubo Solar VELUX\n\nDescubra los beneficios que aporta la luz natural a su hogar con los tubos solares.'

5923 	 'Puentes no aptos para personas con vértigo Por:Emelia Viaña\n\nCharles Kuonen es el puente colgante más largo del mundo con 494 metros de longitud.'

7744 	 'Doce grandes vinos para Navidad Por:Enrique Calduch\n\nManzanillas, blancos, tintos, rosados y dulces para los maridajes de estas fiestas.'

### Creating new features

* section
* datepart
* day of week
* newspaper

In [313]:
# newspaper
df['newspaper'] = 'expansion'

In [314]:
# create seccion field from url
df['section'] = df['url'].apply(lambda x: x.split('/')[3])

In [315]:
df.groupby('section').size().sort_values(0, ascending=False).reset_index().rename(columns={0:'count'}).head(10)

            section  count
0          empresas   2188
1          economia   1970
2          mercados    945
3            aragon    777
4       extremadura    604
5        directivos    462
6  economia-digital    380
7      fueradeserie    375
8          sociedad    321
9          juridico    262

In [316]:
# split the publish date to date and time and remove time because it is not changing
df['date'], df['time'] = df.publish_date.str.split(' ').str
df.drop(['time'], axis=1, inplace=True)

In [317]:
# convert date columns to datetime and create day_of_week column
df['date'] = pd.to_datetime(df['date'])
df['day_of_week'] = df['date'].dt.weekday_name
df.head(5)

,authors,keywords,publish_date,summary,text,title,top_image,url,newspaper,section,date,day_of_week
0,[],"[las, terremoto, se, aumenta, que, ha, el, ecu...",2016-04-17 00:00:00,"El presidente de Ecuador, Rafael Correa, ha el...","El presidente de Ecuador, Rafael Correa, ha el...",Aumenta a 272 el número de muertos a causa del...,http://estaticos.expansion.com/assets/desktop/...,http://www.expansion.com/sociedad/2016/04/17/5...,expansion,sociedad,2016-04-17,Sunday
1,[],"[empresa, sauces, presunta, investigan, tambié...",2016-05-03 00:00:00,La Justicia argentina ha iniciado una causa po...,La Justicia argentina ha iniciado una causa po...,Investigan una empresa de Cristina Fernández d...,http://estaticos.expansion.com/assets/multimed...,http://www.expansion.com/economia/politica/201...,expansion,economia,2016-05-03,Tuesday
2,[],"[superiores, las, pedroche, ser, josé, ni, que...",2016-04-17 00:00:00,Cristina Pedroche es de izquierdas y de Vallec...,Cristina Pedroche es de izquierdas y de Vallec...,Ni Cristina Pedroche ni José Sacristán son sup...,http://estaticos.expansion.com/assets/multimed...,http://www.expansion.com/actualidadeconomica/a...,expansion,actualidadeconomica,2016-04-17,Sunday
3,[],"[su, próximo, resultado, que, el, en, del, gre...",2016-04-17 00:00:00,"""El equipo del Fondo volverá a Atenas a princi...",La directora gerente del Fondo Monetario Inter...,"El FMI no espera obtener un ""resultado inmedia...",http://estaticos.expansion.com/assets/multimed...,http://www.expansion.com/economia/2016/04/17/5...,expansion,economia,2016-04-17,Sunday
4,[],"[su, aunque, que, encontrará, investigarme, po...",2016-04-17 00:00:00,"En una entrevista en el diario El País, Soria ...",El ex ministro reconoce que a pesar de que su ...,"Soria: ""Montoro hará bien en investigarme, aun...",http://estaticos.expansion.com/assets/multimed...,http://www.expansion.com/economia/politica/201...,expansion,economia,2016-04-17,Sunday

In [318]:
# drop unnecessary columns
df.drop(['top_image', 'publish_date'], axis=1, inplace=True)

### Dump to JSON

In [319]:
df.to_json('./articles_clean_expansion.json')

In [320]:
pp.pprint(dict(df.loc[0]))

{   'authors': [],
    'date': Timestamp('2016-04-17 00:00:00'),
    'day_of_week': 'Sunday',
    'keywords': [   'las',
                    'terremoto',
                    'se',
                    'aumenta',
                    'que',
                    'ha',
                    'el',
                    'ecuador',
                    'en',
                    'del',
                    '272',
                    'muertos',
                    'causa',
                    'número',
                    'y',
                    'los',
                    'la'],
    'newspaper': 'expansion',
    'section': 'sociedad',
    'summary': 'El presidente de Ecuador, Rafael Correa, ha elevado este '
               'domingo a 272 el número de muertos a causa del terremoto de '
               'magnitud 7,8 en la escala de Richter que sacudió el sábado el '
               'país, agregando que el balance de víctimas "aumentará en las '
               'próximas horas".\n'
               '"Son momentos difíciles para la patria, la tragedia más grande '
               'de los últimos 67 años, solo superada por el terremoto de '
               'Ambato el 5 de agosto de 1949", ha dicho, según ha informado '
               "el diario ecuatoriano 'El Telégrafo'.\n"
               'Solo la voluntad superará estos momentos difíciles", ha '
               'remachado el mandatario, que ha indicado además que el seísmo '
               'ha dejado 2.068 personas heridas.\n'
               'Horas antes, el vicepresidente ecuatoriano, Jorge Glas, había '
               'elevado a 246 muertos y 2.527 heridos el balance de víctimas '
               'del terremoto, agregando que las autoridades están elaborando '
               'una lista de desaparecidos.\n'
               'El epicentro se ha localizado a 170 kilómetros al '
               'norte-noroeste de Quito.',
    'text': 'El presidente de Ecuador, Rafael Correa, ha elevado este domingo '
            'a 272 el número de muertos a causa del terremoto de magnitud 7,8 '
            'en la escala de Richter que sacudió el sábado el país, agregando '
            'que el balance de víctimas "aumentará en las próximas horas".\n'
            '\n'
            '"Son momentos difíciles para la patria, la tragedia más grande de '
            'los últimos 67 años, solo superada por el terremoto de Ambato el '
            '5 de agosto de 1949", ha dicho, según ha informado el diario '
            "ecuatoriano 'El Telégrafo'.\n"
            '\n'
            '"Es momento de grandes tareas y desafíos. Solo la voluntad '
            'superará estos momentos difíciles", ha remachado el mandatario, '
            'que ha indicado además que el seísmo ha dejado 2.068 personas '
            'heridas.\n'
            '\n'
            'Horas antes, el vicepresidente ecuatoriano, Jorge Glas, había '
            'elevado a 246 muertos y 2.527 heridos el balance de víctimas del '
            'terremoto, agregando que las autoridades están elaborando una '
            'lista de desaparecidos.\n'
            '\n'
            'El seísmo, que habría tenido casi un minuto de duración, ha '
            'tenido su epicentro en la costa de Esmeraldas, concretamente '
            'cerca de la localidad de Muisne (norte), aunque también se llegó '
            'a notar de manera importante en la capital, Quito, y en la ciudad '
            'de Guayaquil, la segunda mayor del país. El epicentro se ha '
            'localizado a 170 kilómetros al norte-noroeste de Quito.\n'
            '\n'
            'Ayuda española\n'
            '\n'
            'El Gobierno de España ha ofrecido a Ecuador ayuda de emergencia '
            'para los damnificados por el terremoto, que se suma a los 50 '
            'efectivos de la Unidad Militar de Emergencias que, junto con '
            'perros adiestrados, participará en las labores de rescate tras el '
            'terremoto del sábado, han informado a Europa Press fuentes del '
            'Ministerio de Asuntos Exteriores y de Cooperación.\n'
            '\n'
            'En concreto, España está en condiciones de aportar material de '
            'cobijo (tiendas de campaña, plásticos impermeables y mantas), '
            'productos higiénicos, material para la potabilización de agua y '
            'medicamentos. De momento este envío de material está pendiente de '
            'concretarse, pues las autoridades ecuatorianas la primera ayuda '
            'que han aceptado son los equipos de rescate.\n'
            '\n'
            'Anoche el Gobierno español no tenía constancia de víctimas '
            'españolas, pero este dato se toma con prudencia, pues los daños '
            'que el seísmo ha provocado en las comunicaciones (se han caído '
            'repetidores y algunas zonas están sin suministro eléctrico) '
            'dificultan contactar con el conjunto de la colonia española.',
    'title': 'Aumenta a 272 el número de muertos a causa del terremoto en '
             'Ecuador',
    'url': 'http://www.expansion.com/sociedad/2016/04/17/5713176722601db2238b461c.html'}

---

## 2. Cincodias

In [321]:
# article content downloaded and parsed with newspaper3k
data = []        
with open('../articles_cincodias.json') as input_file:
    for line in input_file:
        data.append(json.loads(line))

In [322]:
df = pd.DataFrame(data)

In [323]:
print("Number of articles downloaded: {:,}".format(df.shape[0]))

Number of articles downloaded: 3,998

### Duplicates and useless articles

In [324]:
df_dups = df.groupby('text').size().sort_values(0,ascending=False).reset_index().rename(columns={0:"count"})
df_dups.head(5)

                                                text  count
0  ¿No estás registrado? Crea tu cuenta\n\nEntra ...     26
1  Europa ha empezado ya con un particular carrus...      2
2  Hablemos de democracia. Si quieren hablemos en...      2
3  Luis de Guindos está a poco más de un paso de ...      2
4  El euríbor a 12 meses, el indicador más utiliz...      2

In [325]:
# text 0: ¿No estás registrado? Crea tu cuenta\n\nEntra ...
idx = df.index[df['text']==df_dups.loc[0]['text']]
df = df.drop(idx)

print("Current number of articles: {:,}".format(df.shape[0]))

Current number of articles: 3,972

In [326]:
df_dups = df.groupby('text').size().sort_values(0,ascending=False).reset_index().rename(columns={0:"count"})
print("Number of articles duplicated twice: {:,}".format(df_dups[df_dups['count']==2]['text'].count()))

Number of articles duplicated twice: 6

In [327]:
# removing duplicates
df = df.drop_duplicates(subset='text', keep='first', inplace=False)
print("Current number of articles: {:,}".format(df.shape[0]))

Current number of articles: 3,966

In [328]:
df_dups = df.groupby('text').size().sort_values(0,ascending=False).reset_index().rename(columns={0:"count"})
df_dups.head(5)

                                                text  count
0  “¡Que no le falte de nada a mis #materialadict...      1
1  El principal indicador de la bolsa española, e...      1
2  El principal indicador de la Bolsa española, e...      1
3  El primer trimestre del año deja en los invers...      1
4  El primer trimestre de año ha estado repleto d...      1

In [329]:
# removing empty text articles
df = df.drop(df[df['text']==''].index)
print("Current number of articles: {:,}".format(df.shape[0]))

Current number of articles: 3,965

In [330]:
# articles with very short text (useless)
for idx, row in df[df['text'].str.len()<150].iterrows():
    print(idx, "\t", repr(row['text']), "\n")

57 	 'El coste de los despidos en el sector financiero\n\nCompatir en Linkedin Enviar por correo Subir'

79 	 'Los problemas a los que se enfrentan los bancos europeos\n\nCompatir en Linkedin Enviar por correo Subir'

243 	 'Los creadores de la serie de HBO "Silicon Valley" creen que la tecnología está plagada de "hippies"\n\nCompatir en Linkedin Enviar por correo Subir'

459 	 'José Padilla, Padilla Supermercados-Spar: “El éxito de nuestro negocio es estar a la altura de las necesidades de nuestro cliente”.'

480 	 'Si apuestas en la Eurocopa 2016, estas webs predicen el resultado de cada partido\n\nCompatir en Linkedin Enviar por correo Subir'

632 	 'Cuatro empresas se jugaban las adjudicaciones de las obras con el número del Gordo de Navidad.'

806 	 '3\n\nLa selección de EE UU de baloncesto, uno de los grandes atractivos de estos juegos, arrolló a China (119-62) en su primer partido en Rio.'

915 	 'Sánchez da un portazo a Rajoy con un "no rotundo"\n\nAtlas'

993 	 'Hay una posibilidad remota de que la Fed suba las tasas: presidente ejecutivo\n\nCompatir en Linkedin Enviar por correo Subir'

1036 	 'Tecnología\n\n¿Cuánto te paga Apple por tu iPhone antiguo?'

1160 	 'Las redes sociales no son solo algo que está bien tener en un negocio: Hootsuite\n\nCompatir en Linkedin Enviar por correo Subir'

1161 	 'Gross: una victoria de Trump significaría que el dólar y los bonos estarían en negativo\n\nCompatir en Linkedin Enviar por correo Subir'

1163 	 'El nuevo Gobierno\n\nQuién ha ocupado cada ministerio en las diferentes legislaturas'

1167 	 'El petróleo no subirá de 66 dólares, ni siquiera en 2019: analista\n\nCompatir en Linkedin Enviar por correo Subir'

1169 	 'No somos un banco europeo, somos un banco suizo: presidente de UBS\n\nCompatir en Linkedin Enviar por correo Subir'

1211 	 'Carlos Piñeiro, director de PigCHAMP Pro Europa: “La crisis nos vino bien, nos hizo buscar en otros sitios”.'

1304 	 'Es poco probable que se conozca la decisión final sobre Heathrow antes de finales del 2017\n\nCompatir en Linkedin Enviar por correo Subir'

1428 	 'Proceso de reestructuración\n\nAbengoa, rescatada: ¿qué ha pasado en la empresa en los últimos meses?'

1433 	 'Se esperan tasas más bajas durante más tiempo: Director General adjunto de la Société Générale\n\nCompatir en Linkedin Enviar por correo Subir'

1671 	 'El mercado del petróleo podría entrar en déficit a principios de 2017: pro\n\nCompatir en Linkedin Enviar por correo Subir'

1693 	 'Los gastos de constitución de la hipoteca, nuevo frente judial para la banca\n\nCompatir en Linkedin Enviar por correo Subir'

1813 	 'Merkel: la lucha contra el terrorismo no justifica la intolerancia\n\nCompatir en Linkedin Enviar por correo Subir'

1864 	 'Knight Frank: no hay que exagerar el impacto del brexit en el mercado de la vivienda\n\nCompatir en Linkedin Enviar por correo Subir'

2018 	 'Homenaje\n\nMadrid recuerda a las víctimas del 11M'

2121 	 'El salario de los altos cargos: el Gobierno, la institución peor pagada\n\nCompatir en Linkedin Enviar por correo Subir'

2476 	 '7\n\nMcLaren 570S. Ganador de la categoría especial Coche de Ensueño, en la que se elige el coche ideal sin atender a argumentos racionales.'

### Creating new features

* section
* datepart
* day of week
* newspaper

In [331]:
# newspaper
df['newspaper'] = 'cincodias'

In [332]:
# create seccion field from url
df['section'] = df['url'].apply(lambda x: x.split('/')[7])

In [333]:
df.groupby('section').size().sort_values(0, ascending=False).reset_index().rename(columns={0:'count'}).head(10)

       section  count
0     mercados    792
1    companias    686
2     empresas    618
3     economia    464
4    lifestyle    197
5     midinero    196
6     sentidos    135
7  smartphones    129
8     fortunas    105
9    autonomos     99

In [334]:
# split the publish date to date and time and remove time because it is not changing
df['date'], df['time'] = df.publish_date.str.split(' ').str
df.drop(['time'], axis=1, inplace=True)

In [335]:
# convert date columns to datetime and create day_of_week column
df['date'] = pd.to_datetime(df['date'])
df['day_of_week'] = df['date'].dt.weekday_name
df.head(5)

,authors,keywords,publish_date,summary,text,title,top_image,url,newspaper,section,date,day_of_week
0,[Carlos González Villamil],"[y, videoconsola, en, uso, la, mac, que, para,...",2016-04-09 00:00:00,El firmware 3.50 de PlayStation 4 ha mejorado ...,El firmware 3.50 de PlayStation 4 ha mejorado ...,Cómo configurar Remote Play en PC y Mac para e...,https://d500.epimg.net/cincodias/imagenes/2016...,https://cincodias.elpais.com/cincodias/2016/04...,cincodias,lifestyle,2016-04-09,Saturday
1,[Juande Portillo],"[y, los, la, en, que, reduciendo, adelgaza, ba...",2016-04-08 00:00:00,"Una dieta a largo plazo, en todo caso, a la qu...","En apenas una década, y con una crisis financi...",La banca adelgaza costes reduciendo red y plan...,https://d500.epimg.net/cincodias/imagenes/2016...,https://cincodias.elpais.com/cincodias/2016/04...,cincodias,mercados,2016-04-08,Friday
2,[],"[y, los, en, la, han, que, trabajadores, prote...",2016-04-09 00:00:00,"Los trabajadores de Lauki, cuya factoría de Va...","Los trabajadores de Lauki, cuya factoría de Va...",Protesta de la plantilla de Lauki por el cierr...,https://d500.epimg.net/cincodias/imagenes/2016...,https://cincodias.elpais.com/cincodias/2016/04...,cincodias,empresas,2016-04-09,Saturday
3,"[Javier Fernández Magariño, Pablo Monge]","[será, nacerá, y, los, la, en, que, europa, ai...",2016-04-09 00:00:00,Air Europa Express nace sobre la pequeña aerol...,"Juan José Hidalgo, presidente de Globalia y Ai...",Esta será la nueva Air Europa 'low cost' que n...,https://d500.epimg.net/cincodias/imagenes/2016...,https://cincodias.elpais.com/cincodias/2016/04...,cincodias,empresas,2016-04-09,Saturday
4,[Will Oliver],"[y, último, su, en, la, año, que, cameron, el,...",2016-04-09 00:00:00,"WILL OLIVER EFEDavid Cameron, primer ministro ...",Protestas en Londres tras conocer la conexión ...,Cameron pagó impuestos por 90.000 euros en el ...,https://d500.epimg.net/cincodias/imagenes/2016...,https://cincodias.elpais.com/cincodias/2016/04...,cincodias,economia,2016-04-09,Saturday

In [336]:
# drop unnecessary columns
df.drop(['top_image', 'publish_date'], axis=1, inplace=True)

### Dump to JSON

In [337]:
df.to_json('./articles_clean_cincodias.json')

In [338]:
pp.pprint(dict(df.loc[1]))

{   'authors': ['Juande Portillo'],
    'date': Timestamp('2016-04-08 00:00:00'),
    'day_of_week': 'Friday',
    'keywords': [   'y',
                    'los',
                    'la',
                    'en',
                    'que',
                    'reduciendo',
                    'adelgaza',
                    'banca',
                    'el',
                    'red',
                    'costes',
                    'por',
                    'es',
                    'plantilla',
                    'del'],
    'newspaper': 'cincodias',
    'section': 'mercados',
    'summary': 'Una dieta a largo plazo, en todo caso, a la que precederá de '
               'forma inmediata una nueva purga detonada por la presión que '
               'ejercen sobre los márgenes los tipos cero y la debilidad '
               'general del negocio.\n'
               'Un ajuste adicional que rondaría el 20% de la red y la '
               'plantilla actual.\n'
               'Y eso, que el recorte ya realizado hasta la fecha no ha sido '
               'menor.\n'
               'El punto álgido de la red de oficinas de la banca española se '
               'alcanzó en septiembre de 2008, coincidiendo con la caída de '
               'Lehman Brothers, que marcó el arranque de la crisis.\n'
               'Es decir, que solo la banca española, que con 83.600 '
               'trabajadores menos desde 2008, es responsable del 14% de todos '
               'los empleos destruidos por la industria financiera global en '
               'la crisis.',
    'text': 'En apenas una década, y con una crisis financiera sin precedentes '
            'de por medio, la banca española asiste a una revolución del '
            'modelo de negocio que exige un viraje de 180% en su estrategia '
            'comercial. En los tiempos de la burbuja inmobiliaria, el sector '
            'apostó por una expansión geográfica masiva apoyada en la apertura '
            'de nuevas oficinas allá donde financiaba una nueva promoción '
            'inmobiliaria, por lejana que estuviera de su ámbito geográfico de '
            'actuación natural.\n'
            '\n'
            'Ahora que la demanda de los consumidores abre la puerta a una '
            'auténtica revolución digital del negocio, un gigante como BBVA '
            'avanzaba que terminará reduciendo su red de oficinas a apenas un '
            'tercio del total y que podría operar con solo un millar de '
            'sucursales. Una dieta a largo plazo, en todo caso, a la que '
            'precederá de forma inmediata una nueva purga detonada por la '
            'presión que ejercen sobre los márgenes los tipos cero y la '
            'debilidad general del negocio. Un ajuste adicional que rondaría '
            'el 20% de la red y la plantilla actual.\n'
            '\n'
            'Y eso, que el recorte ya realizado hasta la fecha no ha sido '
            'menor. El punto álgido de la red de oficinas de la banca española '
            'se alcanzó en septiembre de 2008, coincidiendo con la caída de '
            'Lehman Brothers, que marcó el arranque de la crisis. El sector '
            'contaba entonces con un total de 46.118 sucursales por todo el '
            'país, según los datos registrados por el Banco de España. Desde '
            'entonces, la banca ha recortado 15.000 oficinas, un 32% del '
            'total, lo que le deja con apenas 31.000 sucursales, la cifra más '
            'baja desde 1983.\n'
            '\n'
            'Del lado del empleo, el ajuste ha sido igualmente profundo. De '
            'los 278.300 empleados con los que contaban bancos y cajas de '
            'ahorro en 2008, el sector apenas conserva 194.700 trabajadores, '
            'un 30% menos. Un volumen que muestra su especial relevancia en la '
            'comparativa internacional. Según los cálculos de Bloomberg, a lo '
            'largo de la crisis el sector financiero internacional ha '
            'prescindido de un total de 600.000 empleados. Es decir, que solo '
            'la banca española, que con 83.600 trabajadores menos desde 2008, '
            'es responsable del 14% de todos los empleos destruidos por la '
            'industria financiera global en la crisis.\n'
            '\n'
            'Pero entidades y expertos coinciden en que el ajuste no es '
            'suficiente. “Con los tipos de interés que tenemos la necesidad es '
            'ya de sostener no de incrementar la rentabilidad, porque los '
            'resultados van a seguir a la baja y hay que buscar alternativas. '
            'Esas alternativas pasan por un nuevo proceso de cierre de '
            'oficinas y reducción de plantilla”, expone Esteban Sánchez, '
            'responsable del área de banca y seguros de Analistas Financieros '
            'Internacionales (Afi). “Probablemente porque no hemos depurado '
            'aún ese exceso de capacidad” de los años del boom, avanza, a la '
            'vez que apunta que “a este asunto se le suma otro tema, que es la '
            'transformación digital del modelo de negocio”.\n'
            '\n'
            'Así, de un lado, “no es descabellado pensar que lo que queda por '
            'purgar de los años de exceso es un 15% o un 20% adicional de red '
            'y plantilla desde los niveles actuales, aunque hay que decir que '
            'sin los tipos bajos se habría hecho de forma más pausada”, '
            'reflexiona Sánchez.\n'
            '\n'
            'Su estimación casa con las cifras que ofrecen diversas voces del '
            'sector financiero aunque supera ligeramente la presentada '
            'recientemente por la Fundación de las Cajas de Ahorros (Funcas), '
            'que apuntaba que de aquí a 2019 la banca deberá prescindir aún de '
            'cerca de 3.000 oficinas y 14.000 empleados.\n'
            '\n'
            'Ajuste a dos velocidades\n'
            '\n'
            '“A los consejos de administración les suelo advertir que los '
            'tipos bajos son una situación transitoria, los tendremos en esos '
            'niveles dos o tres años, pero lo que viene para quedarse es la '
            'revolución digital”, advierte el experto en banca de Afi, que '
            'asume que “vamos a un modelo bancario totalmente diferente”. El '
            'ajuste asociado a este proceso, sin embargo, es mucho más difícil '
            'de prever y cuantificar. En este sentido, explica Sánchez, '
            'encontramos una “transformación a dos velocidades”.\n'
            '\n'
            'De un lado, señala que la gran banca está apostando con fuerza '
            'por un negocio digital, con capacidad y decisión de adaptar su '
            'red al nuevo modelo. De otro, apunta a las entidades de menor '
            'tamaño, que se ven forzadas a abrazar la banca online como la '
            'tabla de salvación que puede suponer un negocio telemático con '
            'menores costes fijos. El peligro, indica, es que la incapacidad '
            'de las firmas de menor tamaño para acometer grandes inversiones '
            'que les permitan subirse al carro de la tecnología podría '
            'hacerles llegar demasiado tarde a un modelo verdaderamente '
            'digital y ágil.\n'
            '\n'
            'Coincide con este análisis Mario Yañez, responsable del '
            'desarrollo de soluciones de banca de Tecnocom, quien apunta que '
            'aunque toda la banca española está estudiando desarrollos de '
            'negocio online a gran escala, apenas “un 50% del sector está '
            'realmente trabajando ahora mismo en ello”. Desde Tecnocom, que '
            'ofrece soluciones digitales para el grueso de la banca española, '
            'apuntan a que gran parte del problema parte de las “viejas '
            'arquitecturas” organizativas de muchas entidades financieras, con '
            'un exceso de burocracia interna que no puede competir con la '
            'agilidad de las pujantes fintech.\n'
            '\n'
            'El empuje de las ‘fintech’\n'
            '\n'
            'Estas empresas, las nuevas firmas de servicios financieros '
            'basadas en soluciones tecnológicas son otro de los desafíos que '
            'afronta el sector financiero. La banca tradicional ya asume que '
            'este segmento empresarial emergente terminará comiéndose el 23% '
            'de su negocio, según un reciente informe de PwC.\n'
            '\n'
            'De momento, esta confluencia de factores, entre la herencia de la '
            'crisis, la presión de los tipos cero sobre los márgenes o el '
            'avance de los nuevos canales digitales, sin olvidar nunca la '
            'carga que supone la creciente regulación financiera, ya han '
            'desatado una nueva ronda de ajustes en el sector financiero '
            'español.\n'
            '\n'
            'El caso más paradigmático es el de Banco Santander, que ha '
            'anunciado un proceso de recorte de unos 1.670 empleos y el cierre '
            'de 450 oficinas de entre las de menor tamaño de su red, que suma '
            '3.467 sucursales. Pero no es el único, CaixaBank avanzó el '
            'viernes que prejubilará a unos 500 empleados este año. '
            'EspañaDuero, la nueva denominación de Banco Ceiss tras su '
            'integración total en el grupo Unicaja, ha comunicado a su vez que '
            'piensa prescindir de unos 1.120 trabajadores, un tercio del '
            'total.\n'
            '\n'
            'Desde el sector se da por hecho que estos son solo las primeras '
            'señales de la dieta a la que se someterá todo el sector para '
            'apuntalar sus resultados mediante un recorte de costes que '
            'también le debe permitir terminar de enfocar el camino hacia la '
            'nueva transformación de su modelo de negocio.',
    'title': 'La banca adelgaza costes reduciendo red y plantilla',
    'url': 'https://cincodias.elpais.com/cincodias/2016/04/08/mercados/1460141156_743459.html'}

---

## El Confidencial

In [339]:
# article content downloaded and parsed with newspaper3k
data = []
with open('../articles_elconfidencial.json') as input_file:
    for line in input_file:
        data.append(json.loads(line))

In [340]:
df = pd.DataFrame(data)

In [341]:
print("Number of articles downloaded: {:,}".format(df.shape[0]))

Number of articles downloaded: 5,489

### Duplicates and useless articles

In [342]:
df_dups = df.groupby('text').size().sort_values(0,ascending=False).reset_index().rename(columns={0:"count"})
df_dups.head(5)

                                                text  count
0  BIOGRAFÍA\n\nTrader, empezó su carrera profesi...     36
1                                                        13
2  Estimado lector: el próximo 1 de Junio la Tabl...      8
3  Gonzalo de Diego Ramos\n\nLa mítica empresa de...      4
4  Entrevista a Attila Szabo\n\n"Un 3% de los run...      3

In [343]:
# text 0: BIOGRAFÍA\n\nTrader, empezó su carrera profesi...
idx = df.index[df['text']==df_dups.loc[0]['text']]
df = df.drop(idx)

print("Current number of articles: {:,}".format(df.shape[0]))

Current number of articles: 5,453

In [344]:
# removing empty text articles
df = df.drop(df[df['text']==''].index)
print("Current number of articles: {:,}".format(df.shape[0]))

Current number of articles: 5,440

In [345]:
# text 2: Estimado lector: el próximo 1 de Junio la Tabl...
print("Text 2:\n")
print(df_dups.loc[2]['text'][:500],"...")

idx = df.index[df['text']==df_dups.loc[2]['text']]
df = df.drop(idx)

print("\n\nCurrent number of articles: {:,}".format(df.shape[0]))

Text 2:

Estimado lector: el próximo 1 de Junio la Tabla de Seguimiento dejará de publicarse en abierto. Por favor suscríbase gratuitamente en la web de Ágora EAFI para visualizarla.

Con el fin de poder comprobar la evolución de las estrategias abiertas por el analista técnico de El Confidencial, Carlos Doblado, se ofrecerá y se actualizará a diario esta tabla de Seguimiento de las operaciones.

La Tabla de Seguimiento se modifica diariamente. Se indica con color rojo aquellas partes de la misma que hay ...


Current number of articles: 5,432

In [346]:
# text 3: Gonzalo de Diego Ramos\n\nLa mítica empresa de...
print("Text 3:\n")
print(df_dups.loc[3]['text'])

idx = df.index[df['text']==df_dups.loc[3]['text']]
df = df.drop(idx)

print("\n\nCurrent number of articles: {:,}".format(df.shape[0]))

Text 3:

Gonzalo de Diego Ramos

La mítica empresa de sándwiches ha dado un giro radical. Sus clientes han cambiado y lo mismo han hecho los productos de su carta y los números de sus balances. ¿Cómo se explica su transformación?


Current number of articles: 5,428

In [347]:
# text 4: Entrevista a Attila Szabo\n\n"Un 3% de los run...
print("Text 4:\n")
print(df_dups.loc[4]['text'])

idx = df.index[df['text']==df_dups.loc[4]['text']]
df = df.drop(idx)

print("\n\nCurrent number of articles: {:,}".format(df.shape[0]))

Text 4:

Entrevista a Attila Szabo

"Un 3% de los runners son adictos, del mismo modo que lo es un adicto al tabaco o a la heroína"


Current number of articles: 5,425

In [348]:
df_dups = df.groupby('text').size().sort_values(0,ascending=False).reset_index().rename(columns={0:"count"})
df_dups.head(5)

                                                text  count
0  Coches que conducen solos, robots que cocinan ...      2
1  “#PasoteaPasote”, describía Fernando Alonso en...      2
2  La Comunidad Laboral Trabajando.com - Universi...      2
3  La profundidad mínima de los neumáticos es de ...      2
4  El viernes pasado día 5 por la tarde fui a lle...      2

In [349]:
# removing duplicates
df = df.drop_duplicates(subset='text', keep='first', inplace=False)
print("Current number of articles: {:,}".format(df.shape[0]))

Current number of articles: 5,291

In [350]:
# articles with very short text (useless)
for idx, row in df[df['text'].str.len()<150].iterrows():
    print(idx, "\t", repr(row['text']), "\n")

729 	 'Un póster del exsecretario general del PSOE, Pedro Sánchez. (Reuters)'

1004 	 'Pablo Alborán, Ana Rosa Quintana, Mario Vaquerizo... Todos los invitados a los premios del Museo Chicote\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nPantalla completa'

1096 	 'Eduardo Segovia analiza en su videoblog, Money Talks, algunas de las consecuencias que la victoria de Donald Trump supone para los mercados.'

1405 	 '"si fuera presidente clinton estaría en la cárcel"\n\nEl debate entre Trump y Clinton, en directo: el magnate sale vivo tras cargar con todo'

1956 	 'Motociclismo\n\nHistorias del paddock\n\npor Juan Pedro de la Torre'

2279 	 '2 de\n\nRodajas de limón'

2589 	 'El tenista serbio ha protagonizado un divertido anuncio para la marca de raquetas Head.'

2611 	 'Así fue el estreno internacional de la Primera Dama\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nPantalla completa'

2635 	 'Increíble lo sucedido en el Tour de los Alpes. En la bajada de un puerto Stefano, un ciclista hacía este gesto a un compañero.'

2706 	 '14 de 32\n\nDifusor de aroma Hoar Glass, que funciona como un reloj de arena. Se llama Le Sable, es recargable y delicioso, de Dyptique (135 €).'

2935 	 'Los dos pilotos de Repsol Honda dieron un paseo en globo antes de enfrentarse al Circuito de Montmeló este fin de semana.'

2976 	 'Tirar dinero para robar una cartera. Este es el método de un carterista ruso para robar en un autobús sin que la víctima se diera cuenta.'

2980 	 'Imágenes del vestuario visitante delde, donde elpreparó y celebró su final de Champions que le dio la duodécima. (Fotografias: UEFA.com)'

3638 	 'SIGA LA ÚLTIMA HORA EN EL CONFIDENCIAL\n\nDirecto | Rivera cree que Arrimadas está "preparadísima" para ser presidenta'

3699 	 'La sede de Appleby en la isla de Jersey. (REUTERS)'

3928 	 'Efectivos del Ejército Nacional de Libia se enfrentan a islamistas radicales por el control de Bengasi, en el distrito de Khreibish. (Reuters)'

3944 	 'En su último vídeo, el cómico francés Rémi Gaillard se mete en la piel de un oso grizzly para sembrar el pánico entre la población.'

4096 	 'Varias personas sentadas en sus barcas se resignan a esperar que bajen las aguas en los próximos días. (Reuters)'

4692 	 'Una mujer fotografía un tren de mercancías tras un accidente provocado por el viento en medio de la tormenta Eleanor, cerca de Lenk, Suiza. (Reuters)'

5253 	 'Vistas desde la azotea del Edificio España.\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nPantalla completa'

### Creating new features

* section
* datepart
* day of week
* newspaper

In [351]:
# newspaper
df['newspaper'] = 'elconfidencial'

In [352]:
# create seccion field from url
df['section'] = df['url'].apply(lambda x: x.split('/')[3])

In [353]:
df.groupby('section').size().sort_values(0, ascending=False).reset_index().rename(columns={0:'count'}).head(10)

             section  count
0             espana   1046
1         multimedia    740
2           deportes    543
3  alma-corazon-vida    384
4            cultura    307
5           empresas    293
6         tecnologia    279
7              mundo    262
8           noticias    210
9           mercados    202

In [354]:
# split the publish date to date and time and remove time because it is not changing
df['date'], df['time'] = df.publish_date.str.split(' ').str
df.drop(['time'], axis=1, inplace=True)

In [355]:
# convert date columns to datetime and create day_of_week column
df['date'] = pd.to_datetime(df['date'])
df['day_of_week'] = df['date'].dt.weekday_name
df.head(5)

,authors,keywords,publish_date,summary,text,title,top_image,url,newspaper,section,date,day_of_week
0,"[José Antonio Navas, Agustín Marco, El Confide...","[autopistas, quiebra, en, el, quitas, que, las...",2016-04-25 00:00:00,La gran banca identificada en torno al G-6 que...,La gran banca identificada en torno al G-6 que...,Autopistas de peaje: La banca huye de las auto...,https://www.ecestaticos.com/imagestatic/clippi...,https://www.elconfidencial.com/empresas/2016-0...,elconfidencial,empresas,2016-04-25,Monday
1,"[José María Olmo, Ángel Martínez, Roberto R. B...","[interior, proteger, terrorismo, en, promoción...",2016-04-01 00:00:00,"Además, los expertos en terrorismo yihadista y...",El Gobierno anunció hace dos semanas que en la...,Terrorismo islamista: Interior asignará 200 gu...,https://www.ecestaticos.com/imagestatic/clippi...,https://www.elconfidencial.com/espana/2016-04-...,elconfidencial,espana,2016-04-01,Friday
2,"[Marcos Lamelas. Barcelona, Contacta Al Autor]","[haya, y, ha, en, el, vida, nuevo, que, activo...",2016-04-12 00:00:00,Esta prioridad no es baladí cuando una de sus ...,Abertis está centrada en alargar la vida de su...,Noticias de Abertis: Abertis espera que haya n...,https://www.ecestaticos.com/imagestatic/clippi...,https://www.elconfidencial.com/empresas/2016-0...,elconfidencial,empresas,2016-04-12,Tuesday
3,"[José Antonio Navas, Gonzalo Jiménez-Blanco, C...","[vínculos, el, en, se, que, árbitro, noticias,...",2016-01-20 00:00:00,Abertis y Bankia emprendieron en 2013 un arbit...,La batalla de las autopistas radiales de Madri...,Autopistas de peaje: El laudo de las radiales ...,https://www.ecestaticos.com/imagestatic/clippi...,https://www.elconfidencial.com/empresas/2016-0...,elconfidencial,empresas,2016-01-20,Wednesday
4,"[R. Ugalde, Contacta Al Autor]","[autopistas, primer, su, en, el, descenso, se,...",2015-12-21 00:00:00,El precio medio de los peajes de la red de aut...,El precio medio de los peajes de la red de aut...,Autopistas de peaje: El peaje de las autopista...,https://www.ecestaticos.com/imagestatic/clippi...,https://www.elconfidencial.com/economia/2015-1...,elconfidencial,economia,2015-12-21,Monday

In [356]:
# drop unnecessary columns
df.drop(['top_image', 'publish_date'], axis=1, inplace=True)

### Dump to JSON

In [357]:
df.to_json('./articles_clean_elconfidencial.json')

In [358]:
pp.pprint(dict(df.loc[1]))

{   'authors': [   'José María Olmo',
                   'Ángel Martínez',
                   'Roberto R. Ballesteros',
                   'Sara De Diego',
                   'Contacta Al Autor'],
    'date': Timestamp('2016-04-01 00:00:00'),
    'day_of_week': 'Friday',
    'keywords': [   'interior',
                    'proteger',
                    'terrorismo',
                    'en',
                    'promoción',
                    'el',
                    'islamista',
                    'que',
                    'las',
                    'civiles',
                    'nueva',
                    'guardias',
                    'del',
                    'nucleares',
                    'la',
                    'por',
                    'los',
                    'y',
                    'para'],
    'newspaper': 'elconfidencial',
    'section': 'espana',
    'summary': 'Además, los expertos en terrorismo yihadista y el Parlamento '
               'Europeo han advertido en numerosas ocasiones de que las '
               'plataformas nucleares se encuentran entre los objetivos '
               'preferidos por el Estado Islámico por las graves consecuencias '
               'de un ataque.\n'
               'EFEHasta ahora, la vigilancia de las siete centrales españolas '
               'estaba en manos de la seguridad privada, que se encargaba de '
               'la protección interior y perimetral.\n'
               'Interior había estimado que la vigilancia de las centrales '
               'requería 500 nuevos efectivos, pero Hacienda redujo la '
               'solicitud un 60%.\n'
               'El acuerdo entre Interior y la patronal nuclear no solo '
               'afectará a las siete centrales que hay en activo en territorio '
               'nacional.\n'
               'En esta edición, los países participantes pondrán el acento en '
               'la amenaza terrorista, más aún tras el descubrimiento de los '
               'planes de la célula de Bruselas.',
    'text': 'El Gobierno anunció hace dos semanas que en la próxima '
            'convocatoria de empleo público se ofrecerán 1.799 nuevas plazas '
            'para ingresar en la Guardia Civil, pero no todos los futuros '
            'agentes se dedicarán a las funciones que tradicionalmente '
            'desarrolla el Instituto Armado. El Ministerio del Interior ha '
            'decidido que en torno a 200 guardias civiles de la promoción de '
            '2016 formen parte de una nueva sección del cuerpo que se '
            'encargará de proteger las centrales nucleares de todo el '
            'territorio nacional para mejorar su nivel de protección, según '
            'han confirmado a este diario fuentes del departamento que dirige '
            'en funciones Jorge Fernández Díaz.\n'
            '\n'
            'El refuerzo se producirá en plena ofensiva yihadista contra estas '
            'instalaciones de alto riesgo. Los investigadores han descubierto '
            'que la célula del Estado Islámico que atentó en París y Bruselas '
            'había tomado imágenes del director del programa de investigación '
            'y desarrollo nuclear de Bélgica con la presunta intención de '
            'atacar alguna de las siete centrales que operan en ese país. '
            'Además, los expertos en terrorismo yihadista y el Parlamento '
            'Europeo han advertido en numerosas ocasiones de que las '
            'plataformas nucleares se encuentran entre los objetivos '
            'preferidos por el Estado Islámico por las graves consecuencias de '
            'un ataque.\n'
            '\n'
            'Torres de refrigeración de la central nuclear de Cofrentes que '
            'emergen tras el pueblo en 2011 (Valencia). EFE\n'
            '\n'
            'Hasta ahora, la vigilancia de las siete centrales españolas '
            'estaba en manos de la seguridad privada, que se encargaba de la '
            'protección interior y perimetral. Pero las empresas que explotan '
            'las plantas solicitaron a principios de 2015 al Ministerio del '
            'Interior que fuera la Guardia Civil la que realizara esa labor y '
            'aseguraron que correrían con los gastos que generara ese nuevo '
            'dispositivo en el erario público. Interior accedió a la petición '
            'por la relevancia de esas instalaciones para la seguridad '
            'nacional y llegó a un acuerdo con Hacienda para crear una tasa '
            'que permitiera sufragar el aumento de la plantilla del Instituto '
            'Armado, necesario para ejercer ese nuevo cometido. Finalmente, '
            'las centrales pagarán a Interior a través de Hacienda 61.000 '
            'euros al año por cada agente, tras una enmienda introducida por '
            'el PP en la Ley General Tributaria en julio del año pasado.\n'
            '\n'
            "[Lea aquí: '¿Puede el Estado Islámico llegar a ser una amenaza "
            "nuclear?']\n"
            '\n'
            'El dispositivo operará en 2017\n'
            '\n'
            'Según han precisado fuentes de la cartera de Fernández Díaz, el '
            'objetivo es que la vigilancia de las plantas nucleares sea '
            'asumida íntegramente por la Guardia Civil en 2017, cuando '
            'concluya el periodo de formación de los 200 agentes que saldrán '
            'de la oposición de este año para realizar específicamente ese '
            'servicio. Interior había estimado que la vigilancia de las '
            'centrales requería 500 nuevos efectivos, pero Hacienda redujo la '
            'solicitud un 60%. Con todo, los 1.799 agentes que entrarán en '
            '2016 conformarán la convocatoria de plazas del Instituto Armado '
            'más elevada desde 2009, cuando accedieron al cuerpo 2.283 '
            'funcionarios. Desde entonces, la restricciones presupuestarias '
            'redujeron la oferta al 10% de la tasa de reposición. Solo subió '
            'el año pasado, con un aumento hasta el 50% de la tasa de '
            'reposición.\n'
            '\n'
            'Infografía del Almacén Temporal Centralizado de Villar de Cañas.\n'
            '\n'
            'El acuerdo entre Interior y la patronal nuclear no solo afectará '
            'a las siete centrales que hay en activo en territorio nacional. '
            'También contempla que la vigilancia de la Guardia Civil se '
            'extienda en el futuro al Almacén Temporal Centralizado (ATC) de '
            'residuos de alta radiactividad que se está construyendo en Villar '
            'de Cañas (Cuenca), por las consecuencias que tendría cualquier '
            'intrusión en esas instalaciones.\n'
            '\n'
            'Plan de la industria nuclear\n'
            '\n'
            'La industria nuclear dispone desde 2014 de un plan sectorial '
            'específico dentro del Sistema Nacional para la Protección de '
            'Infraestructuras Críticas, un programa que afecta a diferentes '
            'sectores de la economía (energía, transportes, '
            'telecomunicaciones, finanzas…) y que tiene como objetivo '
            'garantizar la seguridad de todas las instalaciones consideradas '
            'imprescindibles para el normal funcionamiento del país. En el '
            'caso de las centrales, por sus especiales características, el '
            'plan del sector no solo tiene en cuenta los efectos económicos '
            'que tendría la paralización de una planta, sino también las '
            'implicaciones para la salud y el medioambiente de una fuga '
            'incontrolada como consecuencia de un atentado o un acto de '
            'sabotaje.\n'
            '\n'
            'El Plan de Prevención y Protección Antiterrorista de la '
            'Secretaría de Estado de Seguridad también contempla medidas '
            'reforzadas de vigilancia de las centrales nucleares en caso de '
            'amenaza terrorista. Desde junio de 2015, está en vigor en España '
            'el nivel 4 de alerta, reservado para situaciones de amenaza alta '
            'y solo una fase por debajo del máximo nivel contemplado por la '
            'normativa.\n'
            '\n'
            'Barack Obama (i) y François Hollande, durante la Cumbre de '
            'Seguridad Nuclear en Washington DC. (EFE)\n'
            '\n'
            'Este jueves arrancó en Washington la IV Cumbre de Seguridad '
            'Nuclear mundial, que concluirá hoy. En esta edición, los países '
            'participantes pondrán el acento en la amenaza terrorista, más aún '
            'tras el descubrimiento de los planes de la célula de Bruselas. '
            'También se abordará el riesgo de que materiales radiactivos para '
            'usos hospitalarios, industriales o de investigación sean '
            'utilizados por el Estado Islámico para la construcción de un '
            'artefacto con material nuclear, es decir, la famosa bomba sucia. '
            'Mariano Rajoy iba a acudir a la cita pero, debido a la situación '
            'de interinidad del Gobierno, finalmente está representando a '
            'España en la cumbre el ministro de Asuntos Exteriores, José '
            'Manuel García-Margallo.',
    'title': 'Terrorismo islamista: Interior asignará 200 guardias civiles de '
             'la nueva promoción a proteger nucleares',
    'url': 'https://www.elconfidencial.com/espana/2016-04-01/interior-destinara-200-guardias-civiles-de-la-nueva-promocion-a-proteger-centrales-nucleares_1176985/'}