# Newspaper output - Expansión Hemeroteca

Checking the output from a test run with past Expansión Hemeroteca article links

---

In [1]:
# Imports

import os
import json
import pprint
import datetime
import pandas as pd


# Variables

pp = pprint.PrettyPrinter(indent=4)

# Read data

data = []
with open('./articles_expansion_hemeroteca.json') as input_file:
    for line in input_file:
        data.append(json.loads(line))

In [2]:
df = pd.DataFrame(data)

In [3]:
df.head(5)

,authors,keywords,publish_date,summary,text,title,top_image,url
0,[],"[la, reforma, nuevo, italianas, el, fornero, l...",2018-04-06 00:00:00,La reforma o la anulación de la ley Fornero de...,La reforma o la anulación de la ley Fornero de...,"La reforma de las pensiones italianas, en jueg...",http://e00-expansion.uecdn.es/assets/multimedi...,http://www.expansion.com/economia/2018/04/06/5...
1,[],"[la, arrastra, lex, el, los, se, entre, china,...",2018-04-06 00:00:00,China anunció que aplicaría la misma tasa a di...,El afecto entre Donald Trump y Boeing había si...,Lex FT: La guerra de aranceles entre china y E...,http://e00-expansion.uecdn.es/assets/multimedi...,http://www.expansion.com/opinion/2018/04/06/5a...
2,[],"[la, triunfa, el, los, permanentes, las, traba...",2018-04-06 00:00:00,"Hay ""evidencias convincentes"" de que [el equip...",El fabricante chino de telecomunicaciones preo...,Huawei triunfa pese a las trabas permanentes d...,http://e00-expansion.uecdn.es/assets/multimedi...,http://www.expansion.com/economia-digital/comp...
3,[],"[la, el, despacho, madrid, decano, los, propio...",2018-04-06 00:00:00,"José María Alonso, decano del Ilustre Colegio ...","José María Alonso deja Baker McKenzie, bufete ...",El decano de los abogados de Madrid crea su pr...,http://e00-expansion.uecdn.es/assets/multimedi...,http://www.expansion.com/juridico/actualidad-t...
4,[],"[la, el, operan, los, se, como, las, criptomon...",2018-04-06 00:00:00,A pesar del interés creciente que despiertan l...,A pesar del interés creciente que despiertan l...,Así operan las criptomonedas,http://e00-expansion.uecdn.es/assets/multimedi...,http://www.expansion.com/mercados/divisas/2018...

In [4]:
df.shape

(106, 8)

In [5]:
pp.pprint(list(df.columns))

[   u'authors',
    u'keywords',
    u'publish_date',
    u'summary',
    u'text',
    u'title',
    u'top_image',
    u'url']

In [6]:
# Data Wrangling

keywords = []

for idx, row in df.iterrows():
    authors = ' / '.join(row['authors'])
    df.loc[idx, 'authors'] = authors
    
    for keyw in row['keywords']:
        keywords.append(keyw)

In [7]:
df.groupby(['authors']).size().reset_index().rename(columns={0: "count"})

                                    authors  count
0                                               98
1  Enviado Especial Cernobbio-Como / Italia      1
2                         José María Finat.      1
3        Por Fotos De Jmcadenas Y P. Moreno      1
4                     Por Loreto Ruiz-Ocaña      1
5                            Por N. Serrano      1
6                       Por Susana Pallares      1
7                      Por Víctor Rodríguez      1
8                Por Érika Fernández Belsol      1

In [8]:
# keywords analysis

df_kw = pd.DataFrame(pd.Series(keywords)).rename(columns={0: "keyword"})

In [9]:
df_kw.groupby('keyword').size().sort_values(0, ascending=False).reset_index().rename(columns={0: "count"}).head(10)

  keyword  count
0      la    100
1      en     98
2       y     91
3      el     91
4     que     85
5     los     62
6     del     49
7     las     43
8     por     43
9      se     40